<!--<div class="footnotes">
        		<h4>Notes</h4>
        		<p>Lorem ipsum dolor sit amet</p>
	    		</div>-->
    		<div class="footer">
        		<p>Source: lorem ipsum dolor sit amet.</p>
        		<p>Photos: Corbis Images, <a href="//mashable.com/people/johnnysimon">Johnny Simon</a>/Mashable. Illustration: <a href="//mashable.com/people/bob-al-greene">Bob Al-Greene</a>/Mashable. Interactive: <a href="//mashable.com/people/sergiohernandez">Sergio Hernandez</a>/Mashable.</p>
		    </div>
		<div id="watermark"></div>