@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  background: white;
}

body {
  color: #555555;
  font-family: "proxima-nova-condensed", "proxima-nova", "Helvetica Neue", Hevetica, Arial, sans-serif;
  font-size: 110%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.links a:link, .content a:link, section[role=main] > article a:link {
  color: #00aeef;
  text-decoration: underline;
}
.links a:visited, .content a:visited, section[role=main] > article a:visited {
  color: #00aeef;
}
.links a:hover, .content a:hover, section[role=main] > article a:hover {
  color: #0076a3;
  text-decoration: none;
}
.links a.more, .content a.more, section[role=main] > article a.more {
  white-space: nowrap;
}
.links a.more:after, .content a.more:after, section[role=main] > article a.more:after {
  content: " »";
}

.typography strong, .content strong, section[role=main] > article strong, .typography b, .content b, section[role=main] > article b {
  color: #222222;
  font-weight: bold;
}
.typography em, .content em, section[role=main] > article em, .typography i, .content i, section[role=main] > article i {
  font-style: italic;
}
.typography abbr, .content abbr, section[role=main] > article abbr, .typography acronym, .content acronym, section[role=main] > article acronym {
  border-bottom: 1px dotted #bbbbbb;
}
.typography sub, .content sub, section[role=main] > article sub, .typography sup, .content sup, section[role=main] > article sup {
  font-size: 85%;
}
.typography sub, .content sub, section[role=main] > article sub {
  vertical-align: sub;
}
.typography sup, .content sup, section[role=main] > article sup {
  vertical-align: super;
}
.typography span.caps, .content span.caps, section[role=main] > article span.caps {
  font-size: 95%;
}
.typography h1, .content h1, section[role=main] > article h1, .typography h2, .content h2, section[role=main] > article h2, .typography h3, .content h3, section[role=main] > article h3, .typography h4, .content h4, section[role=main] > article h4, .typography h5, .content h5, section[role=main] > article h5, .typography h6, .content h6, section[role=main] > article h6 {
  color: #333333;
  margin: 1em 0;
}
.typography h1, .content h1, section[role=main] > article h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 1.099;
  margin: 0.75em 0;
}
.typography h2, .content h2, section[role=main] > article h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.099;
}
.typography h3, .content h3, section[role=main] > article h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.169;
  margin: 1.25em 0 0.5em;
}
.typography h4, .content h4, section[role=main] > article h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.26;
  margin: 0.5em 0 0.5em;
}
.typography h5, .content h5, section[role=main] > article h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
  margin: 0.65em 0;
}
.typography h6, .content h6, section[role=main] > article h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}
.typography p, .content p, section[role=main] > article p {
  margin: 1em 0;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dl, .content dl, section[role=main] > article dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dd, .content dd, section[role=main] > article dd {
  padding-left: 2.25em;
}
.typography ul, .content ul, section[role=main] > article ul {
  list-style: disc;
}
.typography ol, .content ol, section[role=main] > article ol {
  list-style: decimal;
}
.typography li, .content li, section[role=main] > article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.typography dt, .content dt, section[role=main] > article dt {
  margin-top: 1em;
}
.typography dd, .content dd, section[role=main] > article dd {
  margin-bottom: 1em;
}
.typography code, .content code, section[role=main] > article code, .typography dfn, .content dfn, section[role=main] > article dfn, .typography kbd, .content kbd, section[role=main] > article kbd, .typography samp, .content samp, section[role=main] > article samp, .typography tt, .content tt, section[role=main] > article tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #888888;
}
.typography pre, .content pre, section[role=main] > article pre {
  background: #888888;
  color: #aaaaaa;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.content .box, section[role=main] > article .box {
  background: #efeacf;
  border: 1px solid #e2d9a9;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 1.5em -1em;
  padding: 1px 1em;
}

header {
  background: #FFFFFF;
  position: relative;
  padding: 1px 5%;
  font-family: 'proxima-nova-condensed',Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  color: #777777;
}
header a:link {
  color: #cceffc;
  text-decoration: none;
}
header a:visited {
  color: #cceffc;
}
header a:hover {
  color: white;
  text-decoration: underline;
}
header h1 {
  color: #222222;
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
}
header p.byline {
  font-weight: bold;
  font-size: .9em;
}
header h2 {
  margin: 0;
  padding: 0;
}
header .action-link {
  position: absolute;
  right: 5%;
  top: 55px;
}
header .action-link a {
  background: rgba(255, 255, 255, 0.1);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  padding: 0.5em 1em;
  text-shadow: #005778 0 1px 0;
}
header .action-link a:after {
  content: " ⇢";
}

section[role=main] {
  padding: 1px 5%;
  margin-bottom: 15em;
}

body > footer {
  padding: 0 5% 20px;
  font-size: 90%;
  color: #a2a2a2;
}
body > footer a:link {
  color: #555555;
  text-decoration: underline;
}
body > footer a:visited {
  color: #555555;
}
body > footer a:hover {
  color: #555555;
  text-decoration: none;
}
body > footer p {
  margin: 1em 0;
}

#graphic {
  width: 100%;
}

#heads-menu {
  text-align: center;
}

button {
  height: 100px;
  width: 12.5%;
  background-color: transparent;
  border: none;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  opacity: .5;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  cursor: pointer;
}

button:active {
  opacity: 1;
  outline: 0;
}

button:focus {
  opacity: 1;
  outline: 0;
}

#candidate-container {
  width: 100%;
}

.candidate {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 200px;
  display: none;
}

.candidate h1 {
  font-family: "museo-slab", Georgia, "Times New Roman", serif;
  font-weight: 100;
}

.candidate img {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
}

@media all and (min-width: 500px) {
  .desktop-only {
    display: inline;
  }

  img.mobile-only {
    display: none;
  }

  .mobile-only {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .mobile-only {
    display: inline;
  }

  .desktop-only {
    display: none;
  }
}
.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  background-color: #f6f5f2;
  border: dashed 1px gray;
  margin: 1em 0;
}

.wrapper:after {
  padding-top: 30%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

#watermark {
  float: right;
  display: block;
  width: 100%;
  height: 1em;
  background-image: url("//mashgraphics-assets.s3.amazonaws.com/images/logo_mashable.svg");
  background-size: 6em;
  background-repeat: no-repeat;
  background-position: right;
  filter: grayscale(100%) opacity(40%);
  -webkit-filter: grayscale(100%) opacity(40%);
}
