//
// Basic layout and styles for site
//


header {
  background: $white;
  position: relative;
  padding: 1px $body-margin-x;
  font-family: 'proxima-nova-condensed',Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  color: $meta-gray;
  margin-bottom: 1em;
  
  a { @include basic-link(mix($bodytext-black, $bodytext-black), $hover: $bodytext-black, $decoration: "plain"); }
  
  h1 {
    color: $mashblack;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

  p.byline {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #636466;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
  .action-link {
    position: absolute;
    right: $body-margin-x;
    top: 55px;
    a {
      background: rgba(white, 0.1);
      @include border-radius;
      display: block;
      padding: 0.5em 1em;
      @include text-shadow(mix($banner-color, black, 50%) 0 1px 0);
      &:after { content: " ⇢"; }
    }
  }
}

section[role=main] {
  padding: 1px $body-margin-x;
}

body > footer {
  padding: 0 $body-margin-x 20px;
  font-size: 90%;
  color: $meta-gray;
  a { @include basic-link($meta-gray, $decoration: "plain"); }
  p { margin: 1em 0; }
}