// Colors (1 = darkest, 3 = base, 6 = lightest)
// -------------------------

$black                  : #000000;
$white                  : #FFFFFF;
$mashblack             : #222222;
$bodytext-black        : #555555;
$background-gray      : #F6F5F2;
$meta-gray           : #777777;
$ahref            : #00aeef;
$ahref-hover     :  #0076a3;

$null-gray      : #F6F5F2;
$gray1            : #4e4e4e;
$gray2            : #666666;
$gray3            : #808080;
$gray4            : #a2a2a2;
$gray5            : #c6c6c6;
$gray6            : #eaeaea;

$mashblue        : #00aeef;
$mashblue1       : #dbe9f4;
$mashblue2       : #bfddf3;
$mashblue3       : #a3d1f3;
$mashblue4       : #83c5f2;
$mashblue5       : #5bb9f0;
$mashblue6       : #00aeef;
$mashblue7      : #2695c9;
$mashblue8      : #307ca4;
$mashblue9      : #336381;
$mashblue10      : #314d5f;
$mashblue11      : #2b363f;

$dem-blue      : #1775ae;
$rep-red        : #d64946;
$ind-yellow     : #ffd454;

$red1       : #6C2315;
$red2       : #A23520;
$red3       : #D8472B;
$red4       : #E27560;
$red5       : #ECA395;
$red6       : #F5D1CA;

$orange1    : #714616;
$orange2    : #AA6A21;
$orange3    : #E38D2C;
$orange4    : #EAAA61;
$orange5    : #F1C696;
$orange6    : #F8E2CA;

$yellow1    : #77631B;
$yellow2    : #B39429;
$yellow3    : #EFC637;
$yellow4    : #F3D469;
$yellow5    : #F7E39B;
$yellow6    : #FBF1CD;

$teal1      : #0B403F;
$teal2      : #11605E;
$teal3      : #17807E;
$teal4      : #51A09E;
$teal5      : #8BC0BF;
$teal6      : #C5DFDF;

$blue1      : #28556F;
$blue2      : #3D7FA6;
$blue3      : #51AADE;
$blue4      : #7DBFE6;
$blue5      : #A8D5EF;
$blue6      : #D3EAF7;